*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  background-color:black;
  color: white;
}
#app{
  width: 100%;
}
.right-title{
  border-right: 7px solid rgb(88, 88, 88);
  padding: 0 17px;
  text-align: right;
  border-radius: 277px;
}
.left-title{
  border-left: 7px solid rgb(88, 88, 88);
  padding: 0 17px;
  text-align: left;
  border-radius: 277px;
}